.DS_Store
*.swp
notes/cmud_db.dbm
tmux*.log

profiles/*.tin
!profiles/profile_example.tin

last_session.tin
tin/map/map_globals.txt
tin/map/backup_map.txt

.vagrant
*.log
*.gz

# tintin
tt/
tintin-*

__pycache__/
